* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 7rem;
    margin-top: 5rem;
}

h2 {
    margin-bottom: 0rem;
}
.chapter {
    margin: 2rem 30rem;
}